<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blog nodejs</title>
</head>
<body>
  <nav class="navbar">
    <div><a href="/">Home</a></div>
    <div><a href="/add">Adicionar</a></div>
    <div><a href="/list">Listar</a></div>
  </nav>
    
  {{{body}}}
</body>
</html>